<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flym.hrdh.mapper.single.system.SysPowerMapper" >
  <resultMap id="BaseResultMap" type="com.flym.hrdh.pojo.system.SysPower" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="power_name" property="powerName" jdbcType="VARCHAR" />
    <result column="power_remark" property="powerRemark" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_sys_user" property="createSysUser" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_sys_user" property="modifySysUser" jdbcType="BIGINT" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, power_name, power_remark, status, create_sys_user, create_date, modify_sys_user,
    modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from sys_power
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from sys_power
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flym.hrdh.pojo.system.SysPower" >
    insert into sys_power (id, power_name, power_remark,
      status, create_sys_user, create_date,
      modify_sys_user, modify_date)
    values (#{id,jdbcType=BIGINT}, #{powerName,jdbcType=VARCHAR}, #{powerRemark,jdbcType=VARCHAR},
      #{status,jdbcType=INTEGER}, #{createSysUser,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP},
      #{modifySysUser,jdbcType=BIGINT}, #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flym.hrdh.pojo.system.SysPower" >
    insert into sys_power
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="powerName != null" >
        power_name,
      </if>
      <if test="powerRemark != null" >
        power_remark,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createSysUser != null" >
        create_sys_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifySysUser != null" >
        modify_sys_user,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="powerName != null" >
        #{powerName,jdbcType=VARCHAR},
      </if>
      <if test="powerRemark != null" >
        #{powerRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createSysUser != null" >
        #{createSysUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifySysUser != null" >
        #{modifySysUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flym.hrdh.pojo.system.SysPower" >
    update sys_power
    <set >
      <if test="powerName != null" >
        power_name = #{powerName,jdbcType=VARCHAR},
      </if>
      <if test="powerRemark != null" >
        power_remark = #{powerRemark,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createSysUser != null" >
        create_sys_user = #{createSysUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifySysUser != null" >
        modify_sys_user = #{modifySysUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flym.hrdh.pojo.system.SysPower" >
    update sys_power
    set power_name = #{powerName,jdbcType=VARCHAR},
      power_remark = #{powerRemark,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      create_sys_user = #{createSysUser,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_sys_user = #{modifySysUser,jdbcType=BIGINT},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>
