<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flym.hrdh.mapper.single.common.AdvertisementMapper" >
  <resultMap id="BaseResultMap" type="com.flym.hrdh.pojo.common.Advertisement" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_sys_user" property="createSysUser" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_sys_user" property="modifySysUser" jdbcType="BIGINT" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, type, status, create_sys_user, create_date, modify_sys_user, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select
    <include refid="Base_Column_List" />
    from c_advertisement
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from c_advertisement
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flym.hrdh.pojo.common.Advertisement" useGeneratedKeys="true" keyProperty="id" >
    insert into c_advertisement (goods_id, type, status,
    create_sys_user, create_date, modify_sys_user,
    modify_date)
    values (#{goodsId,jdbcType=BIGINT}, #{type,jdbcType=INTEGER}, #{status,jdbcType=INTEGER},
    #{createSysUser,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifySysUser,jdbcType=BIGINT},
    #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flym.hrdh.pojo.common.Advertisement" useGeneratedKeys="true" keyProperty="id" >
    insert into c_advertisement
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="type != null" >
        type,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createSysUser != null" >
        create_sys_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifySysUser != null" >
        modify_sys_user,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createSysUser != null" >
        #{createSysUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifySysUser != null" >
        #{modifySysUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flym.hrdh.pojo.common.Advertisement" >
    update c_advertisement
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="type != null" >
        type = #{type,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createSysUser != null" >
        create_sys_user = #{createSysUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifySysUser != null" >
        modify_sys_user = #{modifySysUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flym.hrdh.pojo.common.Advertisement" >
    update c_advertisement
    set goods_id = #{goodsId,jdbcType=BIGINT},
      type = #{type,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_sys_user = #{createSysUser,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_sys_user = #{modifySysUser,jdbcType=BIGINT},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="BaseResultMapVm" type="com.flym.hrdh.api.model.common.AdvertisementVm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_sys_user" property="createSysUser" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_sys_user" property="modifySysUser" jdbcType="BIGINT" />
    <result column="modify_sys_user_name" property="modifySysUserName" jdbcType="VARCHAR" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />

    <result column="business_title" property="businessTitle" jdbcType="VARCHAR" />
    <result column="main_pic" property="mainPic" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findAdvertisementVmList" resultMap="BaseResultMapVm">
	select
	a.id, a.goods_id, a.type,
	IFNULL(cg.business_title, tg.business_title) as business_title,
	IFNULL(cg.main_pic, tg.main_pic) as main_pic
	from c_advertisement a
	LEFT JOIN b_commission_goods cg on cg.id = a.goods_id and a.type = 1
	LEFT JOIN b_take_delivery_goods tg on tg.id = a.goods_id and a.type = 2
    where a.status = 1
	order by a.id DESC
  </select>

  <select id="findAdvertisementVmTotalList" resultMap="BaseResultMapVm">
    select
    a.id, a.goods_id, a.type, a.status, a.modify_date,
    us.true_name as modify_sys_user_name,
    IFNULL(cg.business_title, tg.business_title) as business_title,
    IFNULL(cg.main_pic, tg.main_pic) as main_pic
    from c_advertisement a
    left join sys_user us on us.id = a.modify_sys_user
    LEFT JOIN b_commission_goods cg on cg.id = a.goods_id and a.type = 1
    LEFT JOIN b_take_delivery_goods tg on tg.id = a.goods_id and a.type = 2
    where a.status != 3
    order by a.id DESC
  </select>

  <update id="updateStatus">
    update c_advertisement
    set status = #{status,jdbcType=INTEGER},
    modify_date = #{date,jdbcType=TIMESTAMP},
    modify_sys_user = #{userId,jdbcType=BIGINT}
    where id in(${advertisementIds})
  </update>
</mapper>