<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flym.hrdh.mapper.single.common.BottomCommissionRecommendMapper" >
  <resultMap id="BaseResultMap" type="com.flym.hrdh.pojo.common.BottomCommissionRecommend" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_sys_user" property="createSysUser" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_sys_user" property="modifySysUser" jdbcType="BIGINT" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, goods_id, sort, status, create_sys_user, create_date, modify_sys_user, modify_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from c_bottom_commission_recommend
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from c_bottom_commission_recommend
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flym.hrdh.pojo.common.BottomCommissionRecommend" useGeneratedKeys="true" keyProperty="id" >
    insert into c_bottom_commission_recommend (goods_id, sort, status, 
      create_sys_user, create_date, modify_sys_user, 
      modify_date)
    values (#{goodsId,jdbcType=BIGINT}, #{sort,jdbcType=INTEGER}, #{status,jdbcType=INTEGER}, 
      #{createSysUser,jdbcType=BIGINT}, #{createDate,jdbcType=TIMESTAMP}, #{modifySysUser,jdbcType=BIGINT}, 
      #{modifyDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flym.hrdh.pojo.common.BottomCommissionRecommend" useGeneratedKeys="true" keyProperty="id" >
    insert into c_bottom_commission_recommend
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        goods_id,
      </if>
      <if test="sort != null" >
        sort,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="createSysUser != null" >
        create_sys_user,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="modifySysUser != null" >
        modify_sys_user,
      </if>
      <if test="modifyDate != null" >
        modify_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="goodsId != null" >
        #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="createSysUser != null" >
        #{createSysUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifySysUser != null" >
        #{modifySysUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flym.hrdh.pojo.common.BottomCommissionRecommend" >
    update c_bottom_commission_recommend
    <set >
      <if test="goodsId != null" >
        goods_id = #{goodsId,jdbcType=BIGINT},
      </if>
      <if test="sort != null" >
        sort = #{sort,jdbcType=INTEGER},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="createSysUser != null" >
        create_sys_user = #{createSysUser,jdbcType=BIGINT},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="modifySysUser != null" >
        modify_sys_user = #{modifySysUser,jdbcType=BIGINT},
      </if>
      <if test="modifyDate != null" >
        modify_date = #{modifyDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flym.hrdh.pojo.common.BottomCommissionRecommend" >
    update c_bottom_commission_recommend
    set goods_id = #{goodsId,jdbcType=BIGINT},
      sort = #{sort,jdbcType=INTEGER},
      status = #{status,jdbcType=INTEGER},
      create_sys_user = #{createSysUser,jdbcType=BIGINT},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      modify_sys_user = #{modifySysUser,jdbcType=BIGINT},
      modify_date = #{modifyDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>

  <resultMap id="BaseResultMapVm" type="com.flym.hrdh.api.model.common.BottomCommissionRecommendVm" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="goods_id" property="goodsId" jdbcType="BIGINT" />
    <result column="sort" property="sort" jdbcType="INTEGER" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="create_sys_user" property="createSysUser" jdbcType="BIGINT" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="modify_sys_user" property="modifySysUser" jdbcType="BIGINT" />
    <result column="modify_date" property="modifyDate" jdbcType="TIMESTAMP" />

    <result column="business_title" property="businessTitle" jdbcType="VARCHAR" />
    <result column="main_pic" property="mainPic" jdbcType="VARCHAR" />
    <result column="coupon_after_price" property="couponAfterPrice" jdbcType="DOUBLE" />
    <result column="coupon_price" property="couponPrice" jdbcType="DOUBLE" />
    <result column="commission_price" property="commissionPrice" jdbcType="DOUBLE" />
    <result column="proportion" property="proportion" jdbcType="INTEGER" />
    <result column="modify_sys_user_name" property="modifySysUserName" jdbcType="VARCHAR" />
  </resultMap>

  <select id="findBottomCommissionRecommendVmList" resultMap="BaseResultMapVm">
    select
    bc.id, bc.goods_id, bc.sort,
    cg.business_title, cg.main_pic, cg.coupon_after_price, cg.coupon_price, cg.commission_price, cg.proportion
    from c_bottom_commission_recommend bc
    left join b_commission_goods cg on cg.id = bc.goods_id
    where bc.status = 1
    ORDER BY bc.sort asc
  </select>

  <update id="updateStatus">
    update c_bottom_commission_recommend
    set status = #{status,jdbcType=INTEGER},
    modify_date = #{date,jdbcType=TIMESTAMP},
    modify_sys_user = #{userId,jdbcType=BIGINT}
    where id in(${bottomCommissionRecommendIds})
  </update>

  <select id="findBottomCommissionRecommendVmTotalList" resultMap="BaseResultMapVm">
    select
    bc.id, bc.goods_id, bc.sort, bc.status, bc.create_sys_user, bc.create_date, bc.modify_sys_user, bc.modify_date,
    us.true_name as modify_sys_user_name,
    cg.business_title, cg.main_pic
    from c_bottom_commission_recommend bc
    left join sys_user us on us.id = bc.modify_sys_user
    left join b_commission_goods cg on cg.id = bc.goods_id
    where bc.status != 3
    ORDER BY bc.sort asc
  </select>
</mapper>