<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.flym.hrdh.mapper.single.partner.PartnerWithdrawInfoMapper" >
  <resultMap id="BaseResultMap" type="com.flym.hrdh.pojo.partner.PartnerWithdrawInfo" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="partner_id" property="partnerId" jdbcType="BIGINT" />
    <result column="alipay_id" property="alipayId" jdbcType="BIGINT" />
    <result column="money_price" property="moneyPrice" jdbcType="DOUBLE" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="withdraw_date" property="withdrawDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, partner_id, alipay_id, money_price, status, withdraw_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from p_partner_withdraw_info
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from p_partner_withdraw_info
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <insert id="insert" parameterType="com.flym.hrdh.pojo.partner.PartnerWithdrawInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into p_partner_withdraw_info (partner_id, alipay_id, money_price, 
      status, withdraw_date)
    values (#{partnerId,jdbcType=BIGINT}, #{alipayId,jdbcType=BIGINT}, #{moneyPrice,jdbcType=DOUBLE}, 
      #{status,jdbcType=INTEGER}, #{withdrawDate,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.flym.hrdh.pojo.partner.PartnerWithdrawInfo" useGeneratedKeys="true" keyProperty="id" >
    insert into p_partner_withdraw_info
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="partnerId != null" >
        partner_id,
      </if>
      <if test="alipayId != null" >
        alipay_id,
      </if>
      <if test="moneyPrice != null" >
        money_price,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="withdrawDate != null" >
        withdraw_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="partnerId != null" >
        #{partnerId,jdbcType=BIGINT},
      </if>
      <if test="alipayId != null" >
        #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="moneyPrice != null" >
        #{moneyPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="withdrawDate != null" >
        #{withdrawDate,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.flym.hrdh.pojo.partner.PartnerWithdrawInfo" >
    update p_partner_withdraw_info
    <set >
      <if test="partnerId != null" >
        partner_id = #{partnerId,jdbcType=BIGINT},
      </if>
      <if test="alipayId != null" >
        alipay_id = #{alipayId,jdbcType=BIGINT},
      </if>
      <if test="moneyPrice != null" >
        money_price = #{moneyPrice,jdbcType=DOUBLE},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="withdrawDate != null" >
        withdraw_date = #{withdrawDate,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.flym.hrdh.pojo.partner.PartnerWithdrawInfo" >
    update p_partner_withdraw_info
    set partner_id = #{partnerId,jdbcType=BIGINT},
      alipay_id = #{alipayId,jdbcType=BIGINT},
      money_price = #{moneyPrice,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      withdraw_date = #{withdrawDate,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>